
@{
    ViewData["Title"] = "Files";
}
@model List<UserFile>
<h1>Files</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <td>File Name</td>
            <td>Created Date</td>
            <td>File Status</td>
            <td>Download</td>
        </tr>
    </thead>
    @foreach(var item in Model)
    {
        <tr>
            <td>@item.FileName.</td>
            <td>@item.GetCreatedDate</td>
            <td>@item.FileStatus</td>
            <td>
                <a href="~/file/@item.FilePath" class="btn btn-danger @(item.FileStatus==FileStatus.Creating?"disabled":"" )"> Download</a>
            </td>
        </tr>
           
     
    }
</table>

